/*  CSS Variables  */

:root {
    --primary-color: #0b3c5d;
    --secondary-color: #328cc1;
    --accent1-color: #1d2731;
    --accent2-color: #f4d35e;
    --heading-font: "Times New Roman","Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: #ffffff;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

header img {
    height: 80px;
    width: auto;
}

nav {
  display: flex;
  justify-content: space-evenly; 
  align-items: center;  
}


header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

header nav a {
    color: var(--accent2-color);
    text-decoration: none;
    font-weight: 600;
}

nav a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: 600;
  color: var(--accent2-color); 
}


header nav a:hover {
    text-decoration: underline;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}


/* Hero section */

.hero {
    position: relative; 
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    color: #ffffff;
    opacity: 0.8;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 1px solid rgb(0 0 0 / 10%);
    box-shadow: 0 0 20px rgb(0 0 0 / 25%);
    padding: 1rem;
    max-width: 75%;
}

.hero article img {
    float: right;
    width: 125px;
    height: auto;
    margin-left: 1rem;
}


/*  Footer & Social Media  */

footer {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 1rem 0;
  border-top: 1px solid #000;
  margin-top: 1rem;
}

footer img {
  width: 32px;
  height: auto;
  margin: 0 4px;
}

.socialmedia {
  display: flex;
  gap: 0.5rem;
}

.socialmedia a{
    text-decoration: none; 
}

.socialmedia img {
  width: 32px;
  height: auto;
  display: block;
}

.history {
    padding: 1rem;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 1fr1;
    gap: 1rem;
}

.adventures {
  padding: 1rem;
}

.adventure-gallery {
  display: flex;              
  gap: 1rem;
  justify-content: space-between;
}

.adventure-gallery figure {
  flex: 1 1 150px;            
  text-align: center;
}

.adventure-gallery img {
  width: 100%;
  height: auto;
  display: block;
}

.adventure-gallery figcaption {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
