* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: darkblue;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

main {
  max-width: 840px;
  margin: 0 auto;
}

h1 {
  color: darkblue;
}

main img {
  float: right;
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p {
  padding: 0;
}

aside {
  width: 20rem;
  text-align: center;
  position: relative;
}

aside img {
  width: 200px;
  height: auto;
}

aside h2 {
  position: absolute;
  top: 47px;
  left: 150px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  border-radius: 5px;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}


/* Class Selectors */

.box {
  border: 2px solid rgb(208, 235, 255);
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(224, 240, 250);
  color: darkblue;
  margin: 0 auto;
}