.callout {
	max-width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 30%;
    margin-right: 30%;
    border:1px solidrgb(000 /10%);
}

.callout img {
	
}

blockquote {
	
}

cite {
	
}